{% extends  'partials/base.html' %}
{% load static %}
{% block content %}
<section class="ho">
<main class="container">

    <h2> Se connecter  </h2>
    <form method="post" action="">
        {% csrf_token %}
        <div class="input-field">
            <input type="email" name="email" id="email" placeholder="Email">
            <div class="underline"></div>
        </div>

        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="Mot de passe">
            <div class="underline"></div>
        </div>

        <div class="pass_ouble">
            <a href="/password_reset/">mot de passe oublé</a>
          </div>

        <button type="submit" class="form_input" name="login">Se connecter</button>

        <div class="pass_ouble">
            <p>Vous n'avez pas de compte ?<a href="/user/sign-up/">Créer un compte</a></p>
        </div>

    </form>

</main>
</section>
{% endblock content %}
