{% extends 'partials/base.html' %} {% load static %} {% block content %}

<section class="home">
  <div class="content" style="margin-top: -7%">
    <p>
      <span style="font-weight: bolder"
        >Protégez votre portefeuille avec un code sécurisé.
      </span>
      Pour garantir la sécurité de vos fonds et informations personnelles, il
      est essentiel de créer un mot de passe robuste pour votre wallet.
      Assurez-vous que Code secret contient un mélange de lettres, de chiffres
      et de caractères spéciaux pour une protection optimale. <br />
      <span style="font-weight: bolder"
        >Créer Code sécurisé dès maintenant et gardez vos finances à l'abri!
      </span>
    </p>
  </div>

  <div class="form_container wallet">
    <!-- Login form -->
    <div class="form login_form">
      <form method="post" action="">
        {% csrf_token %}
        <h2>Ajouter un CODE SECRET pour votre Wallet</h2>
        <div class="input_box">
          {{ form.code_secret }}
          <!-- <input
            type="password"
            id="password"
            placeholder="Veuiller saisir un code secret"
            required
            pattern="\d{5}"
            title="Veuillez saisir exactement 5 chiffres"
          /> -->
          <i class="uil uil-lock password"></i>
          <i class="uil uil-eye-slash password_icon"></i>
        </div>

        <button type="submit" style="color: white" class="button">
          Ajouter
        </button>
      </form>
    </div>
  </div>
</section>

{% endblock content %}
